/* STYLES
-----------------------------------------------*/
@sansFont: 'MS PGothic', 'Arial', 'Arial Unicode MS', sans-serif;
@serifFont: 'MS Mincho', Georgia, 'Times', sans-serif;


/* ----------------------------------- */
/* Change text colors for JP site */
body {
	color: #000;
}
strong {
	color: #000;
	font-weight: bold;
}

	#headerRight {
		#main-navigation {
			font-weight: 200;
			color: #000;
			ul li.active-folder > a {
				color: #000000;
				font-weight: bold;
			}
			ul li.active-link > a {
				color: #000000;
				font-weight: bold;
			}
		}

		#tagline {
			font-weight: 200;
			color: #000000;
		}
	}

/* ----------------------------------- */


h1 {
}

h2 {
	width: 90%;
	padding-left: 10px;
	padding-bottom: 5px;
	background: url("/assets/FadeRightBorder.jpg") no-repeat scroll left 24px #F3F4F7;
	-webkit-box-shadow: inset 0px 20px 0px #fff;
	-moz-box-shadow: inset 0px 20px 0px #fff;
	box-shadow: inset 0px 20px 0px #fff;
}

h3 {
	width: 80%;
	padding-left: 10px;
	border-bottom: 3px solid #ccc;
}



/* MAIN NAV SPACING
-----------------------------------------------*/
#header #headerRight #main-navigation ul li a {
			font-size: 11.5px !important;
}
#header #headerRight #main-navigation {
			ul li .altDivider {
				margin-left: 2px !important;
				margin-right: 2px !important;
			}
} 




/* HOMEPAGE
-----------------------------------------------*/

.homepage { 
	#header {
		margin-bottom: 15px;
	}
 .contentBlocks {
 	padding-top: 15px;
 	padding-left: 60px;
 	padding-right: 60px;
 	padding-bottom: 0px;
 	h2 {
 		font-size: 1em;
 	}
 	.row:first-child {
 		.sqs-block {
 			padding-bottom: 0px;
 		}
 	}
 	.summary-block {
 		.summary-item {
 			width: 50%;
 			float: left;
 			.summary-title {
 				a {
 					font-size: 14px;
 					line-height: 16px;
 					text-decoration: none;
 				}
 			}
 			.timestamp {
 				font-size: 10px;
 				font-family: @sansFont;
 				text-transform: lowercase;
 			}
 			.summary-excerpt {
 				margin-top: 0px;
 			}
 		}
 	}
  }
}



/* TIMELINE
-----------------------------------------------*/
.collection-512fe7aae4b0973b4dbb2e92 {
	#content .col .sqs-block {
		border: none;
	}
}



/* CONTACT - LOCATIONS
-----------------------------------------------*/
.collection-5111c2d3e4b0cde71aefe0ad {
			.col .sqs-block {
				border-left: none !important;
				padding-left: 20px;
				padding-right: 20px;
			}
			.col:first-child .sqs-block {
				border-left: none;
				padding-left: 0px;
			}
			.col:last-child .sqs-block {
				padding-right: 0px;
			}
}